* {
  margin: 0;
  padding: 0;
}
.game {
  display: flex;
  background: wheat;
  opacity: 0.75;
  max-height: 100vh;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
  /* align-content: center; */
}

/*----------Score------------*/

.score {
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  background: #489270;
  /* opacity: 0.5; */
  width: 100%;
  height: 20vh;
  flex-grow: 1;
  order: 1;
}

.score > * {
  flex: 1 100%;
}

.winner {
  margin: 0 auto;
  /* display: none; */
  height: auto;
  width: 100%;
}

#winner-text, h1 {
  font-size: 300%;
  color: rgba(0, 0, 0, 1.0);
  display: flex;
  justify-content: center;
  flex-grow: 2;
  width: 100%;
}

.winner-hidden {
  display: none;
}

.scores {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
}

.p1Score {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 2em;
  font-size: 200%;
}

.p2Score {
  display: flex;
  flex-grow: 1;
  align-items: center;
  padding-left: 2em;
  font-size: 200%;
}


/*-------Player Boxes---------*/
.players {
  /* box-shadow: 1px 2px 3px rgba(0,0,0,.5); */
  display: flex;
  height: 80vh;
  margin: 0 auto;
  order: 2;
  width: 85%;
  align-content: center;
}

.players > * {
  flex: 1 100%;
}
.player1 {
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  display: flex;
  flex-direction: column;
  background: coral;
  width: 50%;
  height: 100%;
}

.player2 {
  box-shadow: 1px 2px 3px rgba(0,0,0,.5);
  display: flex;
  flex-direction: column;
  background: #4D2AB4;
  width: 50%;
  height: 100%;
}

.name {
  display: flex;
  width: 100%;
  align-content: center;
  order: 1
}

h2 {
  display: flex;
  flex-direction: row;
  font-size: 3em;
  text-decoration: underline;
  margin: 0 auto;
  order: 1;
  width: 100%;
  align-self: center;
  justify-content: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  order: 2;
  align-items: center;
  /* justify-content: space-around; */
}

li {
  width: 100%;
  height: 33%;
  display: flex;
  justify-content: space-around;
  flex-basis: auto;
  align-items: center;
  transition: all 1.5s ease;
}

.p1_choices {
  display: flex;
  height: 100%;
  order: 2;
  justify-content: flex-end;
}

.p1_choices:hover {
  cursor: pointer;
}

.p2_choices {
  display: flex;
  /* flex-direction: row; */
  order: 2;
  height: 100%;
}

.option {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.enlarge {
  transition: font-size 1.5s ease-in;
  font-size: 150%;
  font-weight: 900;
}


.imgs {
  height: 7em;
  width: 7em;
}
